<section class="content">
    <div class="row alinhamento-vertical">
        <div class="col-8">
            <div class="card mb-2">
                <div class="card-body logomarca">
                    <h5 class="card-title">
                        <img src="../assets/img/hearthstone.webp" alt="HearthStone Logo">
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-between">
                        <span>Cartas</span>
                        <a href="#" class="btn btn-success" [routerLink]="['/cartas', 'novo']">Adicionar carta</a>
                    </h5>
                    <div class="row d-flex justify-content-end">
                        <div class="col-3">
                            <input type="text" class="form-control" [(ngModel)]="pesquisar" placeholder="Pesquisar...">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <table #dataTableCartas class="table table-striped table-hover w-100">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nome</th>
                                        <th>Descrição</th>
                                        <th>Ataque</th>
                                        <th>Defesa</th>
                                        <th>Tipo</th>
                                        <th>Classe</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let carta of cartas | pesquisarTexto:pesquisar:'nome'">
                                        <td> {{ carta.id }}</td>
                                        <td> {{ carta.nome }}</td>
                                        <td> {{ carta.descricao }}</td>
                                        <td><span class="badge" [ngClass]="alterarNivelForcaCarta(carta.ataque)">{{ carta.ataque }}</span></td>
                                        <td><span class="badge" [ngClass]="alterarNivelForcaCarta(carta.defesa)">{{ carta.defesa }}</span></td>
                                        <td> {{ carta.tipo }}</td>
                                        <td> {{ carta.classe }}</td>
                                        <td>
                                            <a class="btn btn-sm btn-primary me-2" [routerLink]="['/cartas', carta.id, 'editar']"><i class="pr-1"></i>Editar</a>
                                            <a class="btn btn-sm btn-danger" (click)="excluir(carta)"><i class="pr-1"></i>Excluir</a>
                                        </td>
                                    </tr>
                                    <tr *ngIf="cartas.length === 0">
                                        <td class="text-center" colspan="8">Nenhuma carta cadastrada</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>